USE [Interest]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 05/22/2015 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Wallet] [varchar](max) NULL,
	[Akcje] [varchar](max) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON
INSERT [dbo].[UserTable] ([ID], [Username], [Password], [Wallet], [Akcje]) VALUES (1, N'qw', N'wqwq', NULL, NULL)
INSERT [dbo].[UserTable] ([ID], [Username], [Password], [Wallet], [Akcje]) VALUES (2, N'trre', N'ertt', NULL, NULL)
INSERT [dbo].[UserTable] ([ID], [Username], [Password], [Wallet], [Akcje]) VALUES (3, N'trre', N'ertt', NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[UserTable] OFF
/****** Object:  Table [dbo].[InterestTable]    Script Date: 05/22/2015 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InterestTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InterestName] [varchar](max) NOT NULL,
	[InterestValue] [varchar](max) NOT NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_InterestTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[InterestTable] ON
INSERT [dbo].[InterestTable] ([ID], [InterestName], [InterestValue], [DateTime]) VALUES (1, N'Akcje', N'294,90', NULL)
INSERT [dbo].[InterestTable] ([ID], [InterestName], [InterestValue], [DateTime]) VALUES (2, N'Akcje', N'294,90', NULL)
INSERT [dbo].[InterestTable] ([ID], [InterestName], [InterestValue], [DateTime]) VALUES (3, N'Akcje', N'294,90', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[InterestTable] OFF
